

.row{
    display:flex;
}

.contMeshMap{
    width: 650px;
    height:550px;
    color :rgb(255, 255, 255);
}

.infoMapa {
    position: absolute;
    color :rgb(255, 255, 255);
    top: 150px;
    font-size: 14px;
    margin: 5px;
    background-color: black;
    color: white;
    max-width: 150px;
    min-width: 100px;
    padding: 10px;
}

.mapa3d{
    width: 650px;
    height: 100%;
    color :rgb(255, 255, 255);
    display: "inline";
}
.leyenda3d{
    width: 100%;
    color :rgb(255, 255, 255);
}

table{
    width: 100%;
    height: 50px;
    color :rgb(255, 255, 255);
}

.contentchart{
    width: 800px;
    height: 600px;
    display: "inline";
    color :rgb(255, 255, 255);
}

.barChart{
    height: 50%;
    display: block;
    color :rgb(255, 255, 255);
}

.lineChart{
    height: 35%;
    display: block;
    color :rgb(255, 255, 255);
}




.div_form {
  background-color: rgb(96, 98, 99);
  text-align: center;
  color :rgb(255, 255, 255);
  min-width:250px;
  height:700px;
  max-width:250px;
  max-height:700px;
  display: "inline";
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.div_mapa3d {
    background-color: rgb(96, 98, 99);
    text-align: center;
    min-width:250px;
    height:284px;
    color :rgb(255, 255, 255);
    max-width:250px;
    max-height:600px;
    display: "inline";
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
  }

  .div_barras {
    background-color: rgb(51, 50, 50);
    text-align: center;
    min-width:250px;
    color :rgb(255, 255, 255);
    height:180px;
    max-width:240px;
    max-height:700px;
    display: "inline";
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
  }

  .div_circular {
    background-color: rgb(96, 98, 99);
    text-align: center;
    min-width:250px;
    color :rgb(255, 255, 255);
    height:250px;
    max-width:250px;
    max-height:700px;
    display: "inline";
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
  }

.titulo{
    text-align: center;
    background-color: rgb(96, 98, 99);
    width:100%;
    margin:auto;
    color :rgb(255, 255, 255);
    border: 5px outset rgb(96, 98, 99);
    font-family: Arial, Helvetica, sans-serif;
}

.leyenda{
    text-align: center;
    line-height: 20%;
    background-color: rgb(96, 98, 99);
    min-width:calc(100% - 150px);
    width:calc(133% - 150px);
    border: 5px outset rgb(96, 98, 99);
    height: 42px;
    font-size: 20px;
    display: "inline";
    font-family: Arial, Helvetica, sans-serif;
}

.cian{
    color: cyan;
}


.representacion {
    min-height:650px;
    width: calc(100% - 250px);
    max-width: calc(100% - 250px);
    max-height:650px;
}

.boton_datos{
    display: block;
    width: 100%;
}




